# MySQL root 密码
MYSQL_ROOT_PASSWORD=CHANGE_ME_MYSQL_ROOT_PASSWORD

# 后端连接 MySQL 使用的密码
MYSQL_PASSWORD=CHANGE_ME_MYSQL_PASSWORD

# Redis 密码
REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD

# 你的虚拟机无法直接访问 Docker Hub，使用镜像代理
NODE_IMAGE=m.daocloud.io/docker.io/library/node:22-alpine
NGINX_IMAGE=m.daocloud.io/docker.io/library/nginx:alpine
GO_IMAGE=m.daocloud.io/docker.io/library/golang:1.25-alpine
RUNTIME_IMAGE=m.daocloud.io/docker.io/library/alpine:3.22
MYSQL_IMAGE=m.daocloud.io/docker.io/library/mysql:8.4
REDIS_IMAGE=m.daocloud.io/docker.io/library/redis:7-alpine